<h2><%= @community.name %></h2>

<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list",
    locals: {posts: @posts} %>

    <!-- <%= @posts.each do |post| %>
    <h4><%= link_to post.title, community_post_path(@community, post) %></h4>
    <p><%=truncate post.body, length: 200 %></p>
<% end %> -->
  </div>
  <div class="col-sm-4">
       <%= pluralize @subscriber_count, "member" %>
    <%= link_to "create New Post", new_community_post_path(@community), class:"btn btn-primary float-right" %>
    <small> <%= simple_format @community.rules %> </small>
  </div>
</div>